* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --font-color: #fff;
    --bg-color1: rgba(255,255, 255,0.1);
    --bg-color2: rgba(255,255,255,0.5);
}
/* modo claro da página */
.light {

}

body {
    /* background-image: url(./assets/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

    background: url(./assets/assets/bg-mobile.jpg) no-repeat top center/cover ;
    color: var(--font-color);
}

.container {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    margin-top: 56px;
    padding: 0 24px;
}

.perfil {
   /*  display: flex;
    justify-content: center; */
    text-align: center;
    width: 360px;
    /* height: 712px; */
    /* border: 1px solid #ff0000; */
    padding: 24px;
}

.perfil img {
    width: 112px;
    height: 112px;
    border-radius: 100px;
    text-align: center;
    margin-top: 10px;
}

.perfil p {
    margin-top: 8px;
    font-weight: 500;
    line-height: 24px;
}



ul li{
    margin-top: 10px;
    list-style: none;
    padding: 16px 24px;
    background-color: var(--bg-color1);
    border: 1px solid var(--bg-color2);
    border-radius: 8px;
    transition: all .5s ease-in-out;
}

a {
    text-decoration: none;
    color: var(--font-color);
}


ul li:hover {
    background: var(--bg-color2); 
}

.social_links {
    margin-top: 10px;
}

.social_links  ion-icon{
    width: 20px;
    height: 24px;
    margin: 15px;
    padding: 8px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.social_links  ion-icon:hover {
    background: var(--bg-color1);
}


.rodape {
    margin-top: 30px;
    font-size: 14px;
}