* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    /* background-image: url(./assets/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

    background: url(./assets/assets/bg-mobile.jpg) no-repeat top center/cover ;
}

.container {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

.perfil {
    display: flex;
    justify-content: center;
    width: 360px;
    /* height: 712px; */
    border: 1px solid #ff0000;
}

.perfil img {
    width: 112px;
    height: 112px;
    border-radius: 100px;
}